
    <div class="col-lg-12">
        <br><br>
        <h1 class="page-header">Conoce todas nuestras especialidades médicas</h1>
    </div>

<div class="container py-5">
    <!-- Start  -->
    <div class="row py-5">
        <div class="col-lg-7 mx-auto">
            
            
            <div class="card shadow mb-4">
                <div class="card-body p-5">
                    <h4 class="mb-4">Pediatría</h4>
                    <!-- Unstyled list -->
                    <ul class="list-unstyled">
                        <li class="mb-2">La especialidad en pediatría cuida de los pacientes jóvenes, desde la infancia hasta la edad de 18, aunque en algunos países o casos puede ser hasta la edad de 21.</li>
                        <li class="mb-2">Los pediatras proveen cuidado primario a los niños incluyendo inmunizaciones, chequeos de la salud de bebés, exámenes físicos en escolares, y tratamiento de fiebres, tos, y malestar estomacal entre muchas otras cosas.</li>
                        <li class="mb-2">Pacientes más serios o complicados pueden ser referidos a una subespecialidad pediátrica para un tratamiento más especializado.</li>
                    </ul>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-body p-5">
                    <h4 class="mb-4">Cardiología</h4>
                    <!-- Unstyled list -->
                    <ul class="list-unstyled">
                        <li class="mb-2">La cardiología es una de las muchas sub especialidades de medicina interna.</li>
                        <li class="mb-2">Los cardiólogos se concentran en el tratamiento del corazón y los vasos sanguíneos, que puede incluir el manejo del fallo cardíaco, enfermedad cardiovascular y cuidado post operativo.</li>
                    </ul>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-body p-5">
                    <h4 class="mb-4">Dermatología</h4>
                    <!-- Unstyled list -->
                    <ul class="list-unstyled">
                        <li class="mb-2">Los dermatólogos son los que tratan los desordenes de la piel en  cabello, uñas y membranas mucosas adyacentes ya sea los adultos o niños.</li>
                        <li class="mb-2">Ellos diagnostican desde cáncer de piel, tumores, enfermedades inflamatorias de la piel, y enfermedades infecciosas.</li>
                        <li class="mb-2">También realizan biopsias de piel y procedimiento quirúrgicos dermatológicos.</li>
                    </ul>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-body p-5">
                    <h4 class="mb-4">Oftalmología</h4>
                    <!-- Unstyled list -->
                    <ul class="list-unstyled">
                        <li class="mb-2">La Oftalmología es el área que trata las enfermedades o desordenes de los ojos como cataratas y glaucoma.</li>
                        <li class="mb-2">Ellos también realizan cirugía de ojo cuando es necesario.</li>
                        <li class="mb-2">La corrección de la visión que no puede ser manejada por un optometrista puede ser tratada por un oftalmólogo.</li>
                    </ul>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-body p-5">
                    <h4 class="mb-4">Neurología</h4>
                    <!-- Unstyled list -->
                    <ul class="list-unstyled">
                        <li class="mb-2">Los neurólogos son los que tratan a los pacientes con condiciones que afectan al cerebro, espina vertebral o nervios.</li>
                        <li class="mb-2">Consectetur adipisicing elit.</li>
                        <li class="mb-2">Los neurólogos ven pacientes que tienen desordenes médicos complejos como enfermedad de Parkinsons, esclerosis múltiple, y neuropatía.</li>
                        <li class="mb-2">Ellos también cuidan de los pacientes que tienen problemas comunes como migrañas y mareos.</li>
                        <li class="mb-2">Exercitation ullamco laboris nisi.</li>
                    </ul>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-body p-5">
                    <h4 class="mb-4">Traumatología</h4>
                    <!-- Unstyled list -->
                    <ul class="list-unstyled">
                        <li class="mb-2">Un traumatólogo es aquel profesional, especializado en el tratamiento de las lesiones que sufre el aparato locomotor.</li>
                        <li class="mb-2">La traumatología es por ende, la especialidad médica que se centra en el análisis, diagnóstico, tratamiento y seguimiento de dolencias adquiridas por el sistema músculo-esquelético.</li>
                    </ul>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-body p-5">
                    <h4 class="mb-4">Psiquiatría</h4>
                    <!-- Unstyled list -->
                    <ul class="list-unstyled">
                        <li class="mb-2">Los psiquiatras se especializan en la salud mental y tratan problemas emocionales y de comportamiento a través de una combinación de consejería personal (psicoterapia), psicoanálisis, hospitalización y medicación.</li>
                        <li class="mb-2">Los psiquiatras pueden tener un consultorio privado, trabajar en un hospital o la combinación de ambos.</li>
                        <li class="mb-2">Pero también en asilos, instituciones de salud, prisiones o otros centros de correccionales.</li>
                        <li class="mb-2">Hay un sin número de diferentes áreas dentro de la psiquiatría.
                            Por ejemplo algunos psiquiatras pueden escoger enfocarse en niños y adolescentes, adicción a la medicina o desordenes de comida.</li>
                    </ul>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-body p-5">
                    <h4 class="mb-4">Gastroenterología</h4>
                    <!-- Unstyled list -->
                    <ul class="list-unstyled">
                        <li class="mb-2">Es una subespecialidad de medicina interna.</li>
                        <li class="mb-2">La gastroentetrología trata las funciones y enfermedades del sistema digestivo.</li>
                        <li class="mb-2">Tratan problemas relacionado a la vesícula biliar, estomago, intestinos, entre otros.</li>
                        <li class="mb-2">Esta área atrae a los médicos que realizan procedimientos, pero también les gusta ver pacientes en consultorios.</li>
                    </ul>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-body p-5">
                    <h4 class="mb-4">Nefrología</h4>
                    <!-- Unstyled list -->
                    <ul class="list-unstyled">
                        <li class="mb-2">Los nefrólogos tratan los riñones y prescriben diálisis para los que están experimentando fallo renal.</li>
                        <li class="mb-2">En muchos casos estos médicos entrenan en medicina interna y después de subespecializan en nefrología, lo que requiere un adicional de años de preparación.</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>