<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Product</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Product 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Product 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Plans & Prices</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Link de Accesos</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/inicio-sesion">Acceso Pacientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/inicio-sesion-admin">Acceso Administrador</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Acceso Medicos</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Contacto</span>
            </li>
            <li class="nav-item">
              <span class="nav-link"><i class="fas fa-phone"></i>600 360 7777</span>
            </li>
            <li class="nav-item">
              <span class="nav-link"><i class="fas fa-phone"></i>800 371 900</span>
            </li>
            <li class="nav-item">
              <span class="nav-link"><i class="fas fa-phone"></i>contacto@saludnacional.com</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>