<!-- Container -->
<div class="container">
  <br><br>
  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Nuestros Profesionales</h1>
    </div>
  </div>
  <br><br><br>
  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-4 portfolio-item">
        <img class="img-responsive" src="https://img.freepik.com/fotos-premium/bastante-joven-medico-sonriente-bata-blanca-cruzando-brazos-sobre-pecho-mientras-te-mira-forma-aislada_274679-4878.jpg?w=996">
      <h3><a>Mónica Villanueva</a></h3>
      <p>Neurología</p>
      <p>Universidad De Valparaiso</p>
      <p>Medico Cirujano</p>
    </div>
    
    <div class="col-md-4 portfolio-item">
        <img class="img-responsive" src="https://img.freepik.com/foto-gratis/atractivo-nutriologo-masculino-joven-bata-laboratorio-sonriendo-contra-fondo-blanco_662251-2960.jpg?w=996&t=st=1670123030~exp=1670123630~hmac=5c2c81f6bcc186d368d8501ba6bb94a114c95be4834942e4ee2a8fc22c0e1077">
      <h3><a>Rafael Torres</a></h3>
      <p>Oftalmología</p>
      <p>Universidad Andres Bello </p>
      <p>Medico Cirujano</p>
    </div>

    <div class="col-md-4 portfolio-item">
        <img class="img-responsive" src="https://img.freepik.com/foto-gratis/doctor-brazos-cruzados-sobre-fondo-blanco_1368-5790.jpg?w=740&t=st=1670122998~exp=1670123598~hmac=c64a79c7f745ff4fd513241d52d0ce52ee4120a9bb75f295c68822fbe1964a08">
      <h3><a>Roberto Rodriguez</a></h3>
      <p>Pediatría</p>
      <p>Universidad de Concepción </p>
      <p>Medico Cirujano</p>
    </div>
  </div>
  <br><br><br> 
  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-4 portfolio-item">
        <img class="img-responsive" src="http://www.csj.cl/uploads/noticias/reportaje-en-adn-como-trabaja-el-doctor-del-pueblo-1.jpeg" alt="">
      <h3><a>Francisco Carrasco</a></h3>
      <p>Cardiología</p>
      <p>Universidad Andrés Bello </p>
      <p>Medico Cirujano</p>
    </div>

    <div class="col-md-4 portfolio-item">
        <img class="img-responsive" src="https://img.freepik.com/foto-gratis/disparo-aislado-medico-senior-maduro-exitoso-feliz-vistiendo-uniforme-medico-estetoscopio-expresion-facial-alegre-sonriendo-ampliamente-manteniendo-brazos-cruzados-sobre-pecho_343059-2254.jpg?w=996&t=st=1670123433~exp=1670124033~hmac=a5c228304c4d07f8a49ce9e391be86b43b7cbdb998681601c97e762a8df59654" alt="">
      <h3><a>Vivian Suarez</a></h3>
      <p>Dermatología</p>
      <p>Universidad Catílica De Chile </p>
      <p>Medico Cirujano</p>
    </div>

    <div class="col-md-4 portfolio-item">
        <img class="img-responsive" src="https://img.freepik.com/foto-gratis/retrato-medico-varon-mirando-camara-aislada-sobre-fondo-blanco_1157-52206.jpg?w=996&t=st=1670123488~exp=1670124088~hmac=d79821e03ca277248760c60248119629a59c85eec19e49909f64d795ae7619ec" alt="">
      <h3><a>Pablo Ibañez</a></h3>
      <p>Traumatología</p>
      <p>Universidad de Concepción</p>
      <p>Medico Cirujano</p>
    </div>
  </div>
  <br><br><br> 
</div>