<div class="container">
    <br>
    <br>
        <div class="row" id="main">
            <div class="col-md-8 well" id="rightPanel">
                <div class="row">
        <div class="col-md-12">
            <form role="form">
                <h2>Editar Perfil</h2>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="telefono" id="telefono" class="form-control input-lg" placeholder="Telefono" tabindex="1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="correo" id="correo" class="form-control input-lg" placeholder="Correo electrónico" tabindex="2">
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Contraseña" tabindex="5">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirmar Contraseña" tabindex="6">
                        </div>
                    </div>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6"></div>
                    <div class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg">Guardar</a></div>
                </div>
            </form>
        </div>
    </div>
    </div>
            </div>
         </div>       
    